.back{
  background-image: url('../public/images/back.jpg');
  background-size: cover;
  height: 1200px;
}


.box{
  text-align: center;
  position: relative;
  bottom: -6cm;
  
}

.box p{

  color: white;
  
}


.search{
  height: 40px;
  width: 30%;
  border-radius: 5px;
  border-bottom: 5px white solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Annie Use Your Telescope', cursive;
 
  
}

.search::placeholder{

  color: white;
  letter-spacing: 5px;
 
  
}


.countryName{
  text-align: center;
  position: relative;
  bottom: -9cm;
  color: white;
  font-size: 60px;
  font-family: 'Annie Use Your Telescope', cursive;
}


.date{
 
  position: relative;
 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  float: right;
  color: rgb(0, 0, 0);
  bottom: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Annie Use Your Telescope', cursive;

}




.content{
  position: relative;
  text-align: center;
  top: 12cm;
  
  
 
  
 
}

.card{
  border: 2px solid black;
  max-width: 300px;
  max-height: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.479);

  
 
}
.degree{
  color: rgb(0, 0, 0);
  font-size: 60px;
 
}


.boX{
  background-color: rgb(249,167,153);
  max-width: 300px;
  max-height: 200px;
}

.windBox{
  position: relative;
  max-width: 150px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  color: white;
  font-weight: bold;

}

.degreeBox{
 margin: auto;
 position: relative;
 left: 2cm;
 top: -4.45cm;
 border-top: 2px solid black;
 
  max-width: 150px;
  color: white;
  font-weight: bold;
  
}

.windT{
  border-bottom: 3px solid rgb(0, 0, 0);

}

.desc p{
  font-size: 20px;
 text-transform: uppercase;

}


@media screen and (max-width:500px) and (min-width:280px) {

  .search{
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border-bottom: 5px white solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope', cursive;
   
    
  }

  .search::placeholder{

    color: white;
    letter-spacing: 0px;
   
    
  }
  
  .date{
 
    position: relative;
   
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
 float: left;

    color: rgb(0, 0, 0);
    bottom: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope', cursive;
  
  }
  
  

}